//The base layout concerned with the overall layout of the main elements on the page
html {
  height: 100%;
}

body {
  align-content: stretch;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 62.5%; /* Sets up the Base 10 stuff */
  height: 100%;
  justify-content: flex-start;
  position: relative;
} //body

#tophat {
  order: 1;
  z-index: 10;
} //tophat

header[role="banner"] {
  order: 2;
  z-index: 10;
} //header

@media only screen and (min-width: 600px) {
  header[role="banner"] {
    order: 1;
  }
}

main[role="main"] {
  align-items: stretch;
  display: flex;
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: auto; //dont group these IE doesnt like it
  flex-flow: column nowrap;
  justify-content: flex-start;
  order: 1;
  z-index: 10;

  section {
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto; //dont group these IE doesnt like it
    order: 2;

    @media only screen and (min-width: 600px) {
      flex-basis: 0;
      order: 1;
    }
  }

  aside {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; //dont group these IE doesnt like it
    order: 1;

    @media only screen and (min-width: 600px) {
      flex: 0 0 350px;
    }
  } 
}

footer {
  order: 1;
  z-index: 10;
}
